@import "grid";
.section-point {
    padding: 50px 62px;
    @include pad {
        padding: 50px 30px;
    }
}

.section-point-title {
    margin: 0 auto;
    height: 64px;
    text-align: center;
    h2 {
        font-size: 20px;
        color: #3D1101;
        line-height: 32px;
    }
}

.section-point-title-h2{
    display: flex;
    align-items: center;
    padding:0 200px;
    @include pad {
        padding: 0 100px;
    }
    @include iphone {
        display: block;
        padding: 0;
    }
    &:after{
        box-sizing: inherit;
        content: "";
        flex: 1;
        border: none;
        margin: 0 1.5rem;
        border-top: 1px solid #979797;
        @include iphone {
            display: none;
        }
    }
    &:before{
        box-sizing: inherit;
        content: "";
        flex: 1;
        border: none;
        margin: 0 1.5rem;
        border-top: 1px solid #979797;
        @include iphone {
           display: none;
        }
    }

}
.section-point-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include iphone {
        flex-direction: column;
        align-items: center;
    }
}

.section-point-content-box {
    text-align: center;
    margin-top: 30px;
    width: 262px;
    @include pad {
        width: 196px;
    }
    @include iphone {
        width: 260px;
    }
    img {
        border-radius: 50%;
    }
    h3 {
        margin-top: 20px;
        text-align: center;
        font-size: 18px;
        color: #3D1101;
    }
    p {
        margin-top: 11px;
        text-align: justify;
        font-size: 16px;
        color: #3D1101;
        line-height: 20px;
        @include pad {
            text-align: left;
        }
    }
}

.section-todychef {
    padding: 0 2.5%;
    height: 460px;
    background: #3D1101;
    @include pad {
        padding: 0 11px;
            }
    @include iphone {
        padding: 0;
        height: 900px;
    }
}

.section-todychef-imgbox {
    float: left;
    background: url('http://hotsai.com/RWD_SIX/images/main_chef_brown.png') no-repeat;
    box-sizing: border-box;
    background-size: cover;
    width: 50%;
    height: 100%;
    @include pad {
        background-position: 95% 0;
    }
    @include iphone {
        margin-right: 0;
        width: 100%;
        height: 50%;
    }
}

.section-todychef-content {
    float: left;
    width: 45%;
    margin-top: 81px;
    margin-left: 25px;
    box-sizing: border-box;
    h2 {
        font-size: 20px;
        color: #EFE9E7;
    }
    h3 {
        margin-top: 8.5px;
        font-size: 16px;
        color: #EFE9E7;
    }
    p {
        margin-top: 16px;
        font-size: 16px;
        color: #EFE9E7;
        line-height: 21px;
    }
    @include iphone {
        width: 90%;
        margin-top: 30px;
    }
}

.section-guestsrating {
    padding: 50px 42px;
    @include pad {
        padding: 50px 10px;
    }
    h2 {
        text-align: center;
        font-size: 24px;
        color: #3D1101;
    }
}

.section-guestrating-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
    @include iphone {
        flex-direction: column;
        align-items: center;
    }
}

.section-guestrating-content-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-guestrating-content-box-imgbox {
    margin-right: 13px;
    img {
        border-radius: 50%;
    }
}

.section-guestrating-content-box-articlebox {
    h3 {
        margin-top: 21.5px;
        font-size: 18px;
        color: #3D1101;
    }
    p {
        margin-top: 20px;
        width: 220px;
        font-size: 16px;
        color: #3D1101;
        line-height: 24px;
        @include pad {
            width: 155px;
        }
    }
    h4 {
        text-align: right;
        margin-top: 16px;
        font-size: 16px;
        color: rgba(61, 17, 0, 0.75);
        line-height: 24px;
    }
}

.section-address {
    padding: 50px 42px;
    background: rgba(250, 250, 250, 0.70);
    @include pad {
        padding: 50px 10px;
    }
    @include iphone {
        padding: 50px 5px;
    }
    h2 {
        text-align: center;
        font-size: 24px;
        line-height: 32px;
        color: #3D1101;
    }
}

.section-address-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 38px;
    @include iphone {
        flex-direction: column;
        align-items: center;
    }
    img {
        width: 460px;
        height: 386px;
        margin-right: 20px;
        @include pad {
            width: 363px;
        }
        @include iphone {
            width: 100%;
            margin-right: 0;
            margin-bottom: 30px;
        }
    }
}

.section-address-content-input {
    form {
        font-size: 14px;
        color: #3D1101;
    }
    input {
        box-sizing: border-box;
        width: 458px;
        height: 32px;
        padding: 0 10px;
        margin-top: 6px;
        margin-bottom: 12px;
        background: #FFFFFF;
        border: 1px solid #CCCCCC;
        box-shadow: inset 0px 1px 0px 0px #ECECEC;
        border-radius: 3px;
        font-size: 16px;
        color: #4A4A4A;
        @include pad {
            width: 363px;
        }
        @include iphone {
            width: 100%;
        }
    }
}

.section-address-content-input-Vegetarian {
    input {
        border: 1px solid #9B9B9B;
    }
    .input-yesno {
        width: 16px;
        height: 18px;
    }
    .input-submit {
        float: right;
        width: 70px;
        height: 32px;
        margin-top: 58px;
        margin-left: 11px;
        font-size: 14px;
        color: #FFFFFF;
        background: #F56C23;
        border-radius: 3px;
        border: none;
    }
    .input-reset {
        float: right;
        width: 70px;
        height: 32px;
        margin-top: 58px;
        font-size: 14px;
        color: #FFFFFF;
        background: rgba(0, 0, 0, 0.35);
        border-radius: 3px;
        border: none;
    }
}