@import "grid";
.section-login {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-login-title {
    text-align: center;
    img {}
    h2 {
        font-size: 20px;
        font-weight: bold;
        color: #3D1101;
    }
}

.section-login-box {
    width: 300-30px;
    height: 270-30px;
    margin-top: 35px;
    padding: 15px;
    text-align: center;
    border-top: 3px solid #FF5E45;
    background: #EFE9E7;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
    h1 {
        margin: 0 auto 16px auto;
        font-weight: bold;
    }
    form {
        text-align: left;
        font-size: 16px;
        color: #3D1101;
        input {
            width: 270-9px;
            height: 32-4px;
            padding-left: 9px;
            background: #FFFFFF;
            border: 1px solid #CCCCCC;
            box-shadow: inset 0px 1px 0px 0px #ECECEC;
            border-radius: 3px;
        }
        h3 {
            margin: 3.5px auto 30px auto;
            font-size: 14px;
            color: #FF5E45;
        }
        .Email-icon {
            margin: 3px 0 15px 0;
            font-size: 15px;
            font-family: FontAwesome, 微軟正黑體;
            color: rgba(61, 17, 0, 0.50);
        }
        .password-icon {
            margin: 3px 0 12px 0;
            font-size: 15px;
            font-family: FontAwesome, 微軟正黑體;
            color: rgba(61, 17, 0, 0.50);
        }
        .section-login-box-input {
            input {
                width: 125px;
                height: 32px;
                border: none;
                border-radius: 3px;
                font-size: 14px;
                color: #FFFFFF;
            }
            input.register {
                float: left;
                background: rgba(0, 0, 0, 0.35);
            }
            input.login {
                float: right;
                background: #F56C23;
            }
        }
    }
}