
<footer class="footer">
    <div class="footer-about-box">
        <h2>關於 六角西餐廳</h2>
        <p>Curabitur lobortis id lorem id bibndum. Ut id consectetur magna. Quisque volutpat augue enim, pulvinar lobortis nibh
            lacinia at. </p>
    </div>
    <div class="footer-contact-box">
        <h2>聯絡方式</h2>
        <p>• 高雄市中正五路到底
            <br>• +886 886 886
            <br>• service@hexschool.com</p>
    </div>
    <div class="footer-logo">
        <div class="footer-logo-box">
            <img src="./css/images/logo_l(null).svg" alt="mainlogo">
        </div>
        <div class="footer-logo-icon">
            <i class="fa fa-google-plus-square" aria-hidden="true"></i>
            <i class="fa fa-twitter-square" aria-hidden="true"></i>
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </div>
    </div>

    <div class="clearfix"></div>
</footer>