<%- layout('layout') %>
        <section>
            <div class="section-login">
                <div class="section-login-title">
                    <img src="./css/images/logo_l(null).svg" alt="mainlogo">
                    <h2>享受美食好味道</h2>
                </div>
                <div class="section-login-box">
                    <h1>LOGIN</h1>
                    <form action="index.html">
                        <label for="mail">Email Address*</label>
                        <br>
                        <input id="mail" type="text" class="Email-icon" placeholder="&#xf003;" name="mail">
                        <br>
                        <label for="Password">Password*</label>
                        <br>
                        <input id="Password" type="text" class="password-icon" placeholder="&#xf023;" name="person">
                        <br>
                        <h3>忘記密碼？</h3>
                        <div class="section-login-box-input">
                                <input class="register" type="submit" value="註冊">
                                <input class="login" type="submit" value="登入">
                        </div>
                        
                    </form>
                </div>
            </div>
        </section>
