<%- layout('layout') %>

        <section>
            <div class="section-register">
                <div class="section-register-title">
                    <img src="./css/images/logo_l(null).svg" alt="mainlogo">
                    <h2>享受美食好味道</h2>
                </div>
                <div class="section-register-box">
                    <h1>REGISTER</h1>
                    <div class="section-register-box-flexbox">
                        <div class="section-register-box-flexbox-term">
                            <h2>就是這樣條款：</h2>
                            <p> Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate.
                                Etiam elit elit, elementum sed varius at, adipiscing vitae est. Sed nec felis pellentesque,
                                lacinia dui sed, ultricies sapien...</p>
                        </div>
                        <div class="section-register-box-flexbox-form">
                            <form action="index.html">
                                <label for="mail">Email Address*</label>
                                <br>
                                <input id="mail" type="text" class="Email-icon" placeholder="&#xf003;" name="mail">
                                <br>
                                <label for="Password">Password*</label>
                                <br>
                                <input id="Password" type="text" class="password-icon" placeholder="&#xf023;" name="person">
                                <br>
                                <input id="Password" type="text" class="password-icon" placeholder="&#xf023;" name="person">
                                <a href="/login"><h3>已經有帳號了？</h3></a>
                                <div class="section-register-box-flexbox-input">
                                    <input class="register" type="submit" value="註冊">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
